*{
    font-family: inter;
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
    background: linear-gradient(90deg, #175CD3 7.98%, #1E1C49 55.62%, #171733 87.23%, #000 127.07%);
    height: 60px;
}
header .logo{
    width: 151px;
    height: 25px;
    padding-left: 70px;
    padding-bottom: 15px;
}
header .logo h1{
    color: rgba(255, 255, 255, 0.90);
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.32px;
    /* padding-top: -600px; */
}
header .nav ul{
    display: flex;
    list-style: none;
}
header .nav ul li a{
    text-decoration: none;
    color: white;
    padding-left: 50px;
    
}
header .nav ul li a:hover{
    cursor: pointer;
    color: #3399ff;
    display: inline-flex;
}
header .button{
    padding-right: 70px;
}
header .button:hover{
    display: inline-flex;
}
header .button a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-style: normal;
    font-size: 13px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.32px;
    border-radius: 5px ;
    background-color: #3399ff;
}
section {
    color: white;
    background: linear-gradient(84deg, #175CD3 0%, #1E1C49 40%, #171733 65%, #000 100%);
}
section .home{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 100px 40px 200px 60px;
}
section h2 span{
    color: #3399ff;
}
section .home .content h2{
    letter-spacing: 4.3;
    padding-bottom: 10px;
    font-family: inter;
    font-size: 27px;
    font-weight: 500;
}
section .home .logo h1{
    padding-bottom: 39px;
font-family: Inter;
font-size: 18px;
font-style: normal;
font-weight: 600;
line-height: normal;
letter-spacing: 5.4px;
}
section .home .content button {
    padding-top: 40px;
    }
    section .home .content .dots{
        display: flex;
        justify-content: space-between;
        align-items: first baseline;
        margin-top: 70px;
    }
section .home .content a {
    text-decoration: none;
    color: white;
    border: 1px solid #3399ff;
    padding: 10px 30px 10px 30px;
}
section .home .content a:hover{
    color: white;
    background-color: #3399ff;
}
section .home image{
    fill: url(<path-to-image>), lightgray 50% / cover no-repeat;
stroke-width: 5px;
stroke: #BDD5E7;
}
.offer{
    background-color: black;
}
.offer h1{
    color: white;
    padding: 90px 0px 80px 0px;
    font-weight: 500;
    font-family: inter;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: underline #194AAC;
}
.offer svg{
    stroke-width: 5px;
stroke: #194AAC;
position: absolute;
left: 510px;
top: 1119px;
}
.offer .club{
    padding: 0 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 129px;
    row-gap: 30px;
    padding-bottom: 100px;
}
.offer .club .box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    box-shadow: 0 0 2px white;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 20px;
}
.offer .club .box:hover{
    display: inline-flex;   
    cursor: pointer;
    box-shadow: 0 0 10px whitesmoke;

    /* background-color: #175CD3; */
}
.offer .club .box:hover .img:hover{
    /* color: white; */
}

.offer .club .box p{
font-weight: 500;
font-size: 20px;
margin-left: 20px;
text-align: center;
}


/*blue*/
.blue{
    background-color: #b5e6ff;
}
.blue p{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    font-size: 20px;
    font-family: inter;
}
.blue h5{
    font-size: 25px;
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blue .image {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    padding-bottom: 50px;
}
.blue .image .img .imgs{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    margin-bottom: -5px;
}



/*nav2*/
.nav2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 11;
    /* margin-bottom: 50px; */
    background-color: white;
    height: 60px;
    box-shadow: 0 2px 4px 0 gray;
}
.nav2 .logo{
    width: 151px;
    height: 25px;
    padding-left: 70px;
    padding-bottom: 15px;
}
.nav2 .logo h1{
    color: black;
    font-family: Inter;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.32px;
    /* padding-top: -600px; */
}
.nav2 .nav ul{
    display: flex;
    list-style: none;
}
.nav2 .nav ul li a{
    text-decoration: none;
    color: black;
    padding-left: 50px;
    
}
.nav2 .nav ul li a:hover{
    cursor: pointer;
    color: #3399ff;
    display: inline-flex;
}
.nav2 .button{
    padding-right: 70px;
}
.nav2 .button:hover{
    display: inline-flex;
}
.nav2 .button a {
    color: white;
    text-decoration: none;
    padding: 10px;
    font-style: normal;
    font-size: 13px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.32px;
    border-radius: 5px ;
    background-color: #3399ff;
}

/*course*/
/* .course{ */
    /* padding: 0 50px;
    width: 1000px;
    margin-left: 200px;
    margin-bottom: 40px;
} */
 /* .button button{
    background-color: blueviolet;
    overflow: hidden;
}
 .button button:hover{
    background-color: aqua;
}
 .button button:active {
    background-color: #171733;
 }
    
.tabcontent{ */
/* display: none; */
    /* }
.tabcontent .white{
    width: 800px;
    position: absolute;
    z-index: -1;
    margin-top: 20px;
    padding-left: 400px;
    padding-top: 50px;
    padding-right: 60px;
    padding-bottom: 200px;
    box-sizing: border-box;
    box-shadow: 0 0 3px black;
}
.tabcontent .blues div{
    width: 280px;
    height: 545px;
    background-color: #79b6d6;
    position: absolute; */ 
    /* z-index: 2;
}
/* .tabcontent .blues div button{
    position: absolute;
    z-index: 2;
    margin-top: 100px;
    margin-left: 30px;
    width: 280px;
    height: 50px;
    background-color: #61a0c1;
    border: #61a0c1;
    box-shadow: 0 2px 2px 0 darkblue;
    color: white;
}
 */





.course{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    margin-left: -70px;
}
.course h1{
    font-size: 40px;
    font-weight: 700;
    font-family: inter;
}
.course .radio label{
    margin-right: 130px;
    font-size: 25px;
}
.course .radio input {
    font-size: 90px;
}
.tabcontent{
    margin-top: 50px;
}
.tabcontent #student {
    display: none;
}
 .tabcontent .white{
    margin-left: 190px;
    width: 850px;
    height: 520px;
    padding: 30px 30px 30px 300px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px 0 darkgray;
 }
 .tabcontent #expert .logos{
    display: flex;
    justify-content: space-around ;
    margin-left: -10px;
 }
 .tabcontent #stick .logos{
    display: flex;
    justify-content: space-around ;
    margin-left: -10px;
 }
 .tabcontent #dsa .logos{
    display: flex;
    justify-content: space-around ;
    margin-left: -10px;
 }
 .tabcontent #expert .logos .clock{
    display: flex;
    align-items: center;
    width: 200px;
 }
 .tabcontent #stick .logos .clock{
    display: flex;
    align-items: center;
    width: 200px;
 }.tabcontent #dsa .logos .clock{
    display: flex;
    align-items: center;
    width: 200px;
 }
 .tabcontent #expert .logos .book{
    display: flex;
    align-items: center;
    width: 200px;
 }
 .tabcontent #stick .logos .book{
    display: flex;
    align-items: center;
    width: 200px;
 }.tabcontent #dsa .logos .book{
    display: flex;
    align-items: center;
    width: 200px;
 }
 .tabcontent #expert li{
    margin-left: 30px;
    padding: 10px 0;
    width: 400px;
 }
 .tabcontent #stick li{
    margin-left: 30px;
    padding: 10px 0;
    width: 400px;
 }
 .tabcontent #dsa li{
    margin-left: 30px;
    padding: 10px 0;
    width: 400px;
 }
 .tabcontent .blue{
    background-color: #79b6d6;
    width: 290px;
    height: 520px;
    position: absolute;
    z-index: 2;
    box-shadow: 0 2px 4px 0 darkgray;
    margin-top: -20px;
    margin-left: 180px;
 }
 .tabcontent .blue #btn1:hover{
    background-color: #61a0c1;
    border: #61a0c1;
    box-shadow: 0 2px 4px 0 black;
    cursor: pointer;
    margin-left: 20px;
    text-decoration: none;
   
 }
 .tabcontent .blue #btn2:hover{
    background-color: #61a0c1;
    border: #61a0c1;
    box-shadow: 0 2px 4px 0 black;
    cursor: pointer;
    margin-left: 20px;
    text-decoration: none;
   
 }
 
 .tabcontent .blue button{
    border: none;
    width: 290px;
    height: 50px;
    font-size: 20px;
    margin-top: 80px;
    background-color: inherit;
    text-decoration: underline;
    position: absolute;
    z-index: 2;
    transition: 0.4s;
    color: white;
 }
#student #dsa{
    display: none;
}



/*tools*/
.tools .tool_box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 80px;
    margin: 80px 10px 200px 100px;
}
.tools h1{
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*jobs*/
.job{
    background-color: #79b6d6;
}
.job h1{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    padding-top: 50px;
    padding-bottom: 60px;
}
.job .jobs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 70px;
    row-gap: 40px;
    padding: 0 100px 50px 100px;
}
.job .jobs .job_box{
    box-sizing: border-box;
    border-radius: 10px;
    background-color: white;
    height: 40px;
}
.job .jobs .job_box:hover{
    cursor: pointer;
    color: white;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: darkblue;
    height: 40px;
}
.job .jobs .job_box p {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
    font-weight: 500;
}




/*testimonial*/



.review{
    display: grid;
    grid-template-columns: 300px 300px 300px 300px 300px 300px 300px 300px 300px;
    column-gap: 40px;
    overflow-x: auto;
    background-color: #b5e6ff;
    padding: 100px 60px 40px 60px;
}
.review::-webkit-scrollbar{
    width: 0;
}
.review .box {
    background-color: white;
    border: 2px solid black;
    border-radius: 10px;
    padding: 26px 13px;
}.review .box .img{
    display: inline-flex;
    align-items: center;
}
.review .box .img img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}
.review .box .stars i{
    color: orange;
    margin: 16px 0;
}
.review .box h6{
    font-size: 18px;
    font-weight: 500;
}
.review .box h4{
    font-size: 29px;
    font-weight: 400;
    color: #194AAC;
    margin: 19px 0;
}
/*faq*/
.faq{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.faq h1{
    font-weight: 500;
    font-size: 33px;
    padding: 90px 0;
}
.faq .tab input{
    visibility: hidden;
}
.faq .tab{
    background-color: #f8f9fa;
    margin-bottom: 20px;
    width: 1050px;
    /* margin-left: 10px blue; */
    box-sizing: border-box;
    outline: #016be3;
    box-shadow: 0 0 1px rgb(139, 195, 204);
    /* box-shadow: 0 1px 0 1px  blue; */
}
.faq .tab h3{
    display: inline-block;
}
.faq .tab label::after{
    content: '+';
    position: absolute;
    right: 120px;
    color: gray;
    transition: 1s;
    font-size: 24px;
}
.faq .tab:hover label::after {
    color: black;
}
.faq .tab input:checked ~ label::after{
    transform: rotate("135 deg");
}
.faq .tab label h3{
    padding:  15px ;
    position: relative;
    z-index: 10;
    font-weight: 500;
    font-size: 15px;
}
.faq .tab .content {
    max-height: 0px;
    transition: 1s;
    overflow: hidden;
}
.faq .tab .content ol{
    padding-left: 50px;
    background-color: white;
}
.faq .tab .content ol li{
    list-style: decimal;
    padding-bottom: 5px;
}
.faq .tab input:checked ~ .content {
    max-height: 200vh;
}
.faq .tab .content p{
    position: relative;
    background-color: white;
    padding: 10px 0;
    /* color: lightgrey; */
    z-index: 10;
}
.faq .tab label h3{
    position: relative;
    z-index: 10;
}

/*conatact*/
.contact {
    background-color: #1d2154;
    color: white;
    padding-top: 90px;
    height: 861px;
}
.contact .box1 {
    width: 350px;
    margin-left: 60px;
}
.contact .box1 ul{
    padding-bottom: 70px;
    list-style: none;
}
.contact .box1 .logos i{
    color: black;
    font-size: 30px;
    padding-left: 20px;
}
.contact .box1 .logos i:hover{
    cursor: pointer;
    color: white;
}
.contact .box1 ul li a{
    margin-left: 20px;
    color: white;
    text-align: left;
    text-decoration: none;
}
.contact .box1 ul li a:hover{
    text-decoration: underline;
}
.contact .box1 ul li i:hover{
   color: #175CD3;
}
.contact .box1 ul li {
    padding-bottom: 10px;
}
.contact .box2{
    width: 629px;
    height: 554px;
    margin-left: 500px;
    margin-top: 18px;
    border-radius: 20px;
    position: absolute;
    z-index: 2;
    color: black;
    background-color: white;
}
.contact .box2 h2{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 30px;
    color: #666e86;
    font-weight: 500;
}
.contact .box2 form{
    margin-left: 30px;
    margin-top: 30px;
}
.contact .box2 form input{
    border: white;
    box-shadow: 0 1px 1px 0 black;
    /* padding-left: 30px; */
    width: 200px;
    margin-bottom:50px ;
}
.contact .box2 form textarea{
    width: 550px;
    height: 150px;
}
.contact .box2 form label{
    color: #666e86;
    font-weight: 500;
}
.contact .box2 form h5{
    color: #666e86;
    font-size: 16px;
    font-weight: 500;
}
.contact .box2 form button{
    width: 150px;
    height: 40px;
    margin-top: 20px;
    border-radius: 5px;
    background-color: #016be3;
    border: #016be3;
    color: white;
}
.contact .box2 form button:hover{
    cursor: pointer;
    transform: scale(1.1);
}


.footer p{
    color: white;
    position: absolute;
    z-index: 2;
    margin-top: 650px;
    margin-left: 350px;
}
.footer p:hover{
    color: #016be3;
    cursor: pointer;
}

